<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
</head>
<body>
<h1>Menu</h1>
<form th:action="@{/visitor/make_order}" th:object="${orderForm}" th:method="POST">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish : ${dishes}" th:if="${dish.count > 0}">
            <td th:text="${dish.getName()}"></td>
            <td th:text="${dish.getPrice()}"></td>
            <td>
                <input type="checkbox" th:field="*{selectedDishes}" th:value="${dish.getName()}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <button name="submit" type="submit">Submit Order</button>
</form>
    <table>
        <thead>
        <tr>
            <th>Status</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getStatus()}"></td>
            <td>
                <table>
                    <tr th:each="dish : ${order.getDishes()}">
                        <td th:text="${dish.getName()}"></td>
                        <td th:text="${dish.getPrice()}"></td>
                    </tr>
                </table>
            </td>
            <td>
                <form th:action="@{show_order/{id}(id=${order.id})}" th:method="GET">
                    <input type="submit" value="Info"/>
                </form>
            </td>
            <td>
                <form th:if="${order.status != ready}" th:method="DELETE" th:action="@{delete_order/{id}(id=${order.id})}">
                    <input type="submit" value="Cancel"/>
                </form>
            </td>
            <td th:if="${order.status == ready}">
                <form th:method="POST" th:action="@{pay/{id}(id=${order.id})}">
                    <input type="submit" value="Pay"/>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</body>
</html>